@{
    ViewData["Title"] = "Why Comp Pro Med";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Since 1983, Comp Pro Med has been solely focused on developing a world class,
    customer-centric LIS. The value model of the Polytech LIS software is
    centered around three critical areas: product quality, unmatched
    support and transparent pricing.</p>
